<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>Books by {{authorName}}</h1>
      <nav>
        <a href="/">View Books</a>
        |
        <a href="/order">Order Book</a>
      </nav>
    </header>

    {{{body}}}

    <footer>
       <p><i>Copyright <b>Mamatha Bugata</i></b></p>
    </footer>
  </body>
</html>